<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSB.Mail.Templater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RSB.Mail.Templater.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RabbitHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitUsername" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RabbitPassword" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="SenderHostname" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SenderAddress" serializeAs="String">
                <value>fxonus.mail@gmail.com</value>
            </setting>
            <setting name="SenderUsername" serializeAs="String">
                <value>fxonus.mail@gmail.com</value>
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPort" serializeAs="String">
                <value>587</value>
            </setting>
        </RSB.Mail.Templater.Properties.Settings>
    </applicationSettings>
</configuration>